body{ font-family: Ciao Bella;
font-size: 20px;
background-color: rgb(121,182,209);
font-weight: 400;}
h1, h2, h3{font-family: Onyx;
 color: rgb(72,6,96);
background-color: rgb(127,221,203); 
opacity:0.50;
text-align: left;}
h1{text-transform:uppercase;
text-align:center;
font-size:72px;}
h2, h3{font-weight:100;}
p{line-height:1.5em;
	font-weight: normal;}
a:hover{text-decoration:underline;}